@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #007bff, #8c00ff93);

}
#inicio{
  position: relative;
  width: 370px;
  height: 370px;
  background: #1b1b1b00;
  padding: 40px 35px 60px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: inset 0 0 1px #272727;
  background-color: transparent;

}
.text{
  font-size: 30px;
  color: #c7c7c7;
  font-weight: 600;
  letter-spacing: 2px;
}
form{
  margin-top: 40px;
}
form .field{
  margin-top: 20px;
  display: flex;
}
.field .fas{
  height: 50px;
  width: 60px;
  color: #868686;
  font-size: 20px;
  line-height: 50px;
  border: 1px solid #444;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background: linear-gradient(#333,#222);
  background-color: transparent;

}
.field input,form button{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 19px;
  color: #868686;
  text-shadow: 5px 0 10px rgba(255, 255, 255, 0.5);
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #444;
  caret-color: #2abbcec5;
  
  background-color: transparent;

  
}
input:focus{
  color: #ffffffc5;
  box-shadow: 0 0 5px rgba(0,255,0,.2),
              inset 0 0 5px rgba(0,255,0,.1);
  animation: glow .8s ease-out infinite alternate;
}


input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(rgb(11, 74, 182), rgb(1, 137, 216)) !important;
    color: fieldtext !important;
}


@keyframes glow {
   0%{
    border-color: #ffffff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2),
                inset 0 0 5px rgba(0,0,0,.1);
  }
   100%{
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6),
                inset 0 0 10px rgba(239, 243, 239, 0.4);
  }
}
.button{
  margin-top: 30px;
  border-radius: 5px!important;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.button:hover{
  color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 0 5px rgb(248, 252, 248),
              0 0 10px rgba(254, 255, 254, 0.2),
              0 0 15px rgb(236, 243, 236),
              0 2px 0 black;
}


.link{
  margin-top: 25px;
  color: #868686;
}
.link a{
  color: #339933;
  text-decoration: none;
}
.link a:hover{
  text-decoration: underline;
}

#registro{
    position: relative;
    width: 370px;
    height: 370px;
    background: #1b1b1b;
    padding: 40px 35px 60px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 0 0 1px #272727;
    background-color: transparent;
  }

#abcs{
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    color: #ffffffa6;
    padding: 1px 6px;
    border-width: 2px;
    border-style:none;
    border-color: transparent;
    border-image: none;
}

#sp, #sp1{
  font-size: 40px;
  letter-spacing:-2px;
  color: #fff;

}




